<!doctype html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block TITLE %}{% endblock %}Register - To-Do App</title>
    {{ bootstrap.load_css() }}
</head>

<body>
<h2>Register</h2>

<form action="/register" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<a href="/login">Login</a>
{{ bootstrap.load_js() }}
</body>

</html>